[submodule "packages/pg"]
	path = packages/pg
	url = https://bitbucket.org/deskjet/pg_botscript.git
[submodule "packages/kv"]
	path = packages/kv
	url = https://bitbucket.org/deskjet/kv_botscript.git
